
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

 .profile-bar {
    background: #3498db;
    color: #fff;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.logout-btn {
    background: #e74c3c;
    color: white;
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.logout-btn:hover {
    background: #c0392b;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

table {
    border-collapse: collapse;
    width: 48%;
    margin: 20px 1%;
    float: left;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

table h2 {
    text-align: center;
    background-color: #34495e;
    color: white;
    margin: 0;
    padding: 10px 0;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #2980b9;
    color: white;
}

tr:hover {
    background-color: #f2f2f2;
}


button {
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #c0392b;
}

.form-container {
    display: flex;
      background: #fff;
      padding: 25px;
      border-radius: 10px;
     
      width: 500px;
    }
    .form-container h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }
    .form-row {
      display: flex;
      justify-content: space-between;
      gap: 30px; 
      margin-bottom: 15px;
    }
    .form-group {
      flex: 1;
    }
    .form-group label {
      display: block;
      margin-bottom: 6px;
      font-weight: bold;
      color: #444;
    }
    .form-group input, .form-group select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
    }
    .form-group input:focus, .form-group select:focus {
      border-color: #007BFF;
      outline: none;
    }
    .btn {
      width: 100%;
      padding: 12px;
      border: none;
      background: #007BFF;
      color: white;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
      margin-top: 10px;
    }
    .btn:hover {
      background: #0056b3;
    }
    .link {
            text-align: center;
            margin-top: 15px;
            font-size: 14px;
        }

        .link a {
            color: #192130;
            text-decoration: none;
        }

        .link a:hover {
            text-decoration: underline;
        }

            .profile-btn {
    background: #2ecc71;
    color: white;
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 10px;
    transition: 0.3s;
}
.profile-btn:hover {
    background: #27ae60;
}